In [3]:
import tabula

In [5]:
# Change pdf name
df = tabula.read_pdf("20201126 Waltham Forest Privated Public Register November 2020.pdf", pages='all')

In [11]:
df[0]

,Ref.No.,Property Address Licence Holder,Unnamed: 0,Start Date,End Date
0,14531,"43 Chester Road, Walthamstow, E17 7HP Mr Lahri...",NaN,15/03/2018,15/03/2023
1,20502,"Flat 1, 8 Goldsmith Road, Leyton, E10 5HA Mr L...",NaN,12/05/2017,12/05/2022
2,20881,"Flat 2, 79 Park Road, Leyton, E10 7BZ Mr Lahri...",NaN,01/11/2018,01/11/2023
3,20932,"Ground Floor Flat, 23 Cornwallis Road, Waltham...",NaN,26/10/2018,26/10/2023
4,21254,"Flat 3, 62 St James Street, Walthamstow, E17 7...",NaN,26/10/2018,26/10/2023
5,21484,"Flat 1, 165 Sinclair Road, Chingford, E4 8PP M...",NaN,22/06/2016,22/06/2021
6,22965,"24 Mayfield Road, Walthamstow, E17 5RH Mr Davi...",NaN,04/01/2016,04/01/2021
7,24877,"Ground Floor Flat, 174 Blackhorse Lane, Waltha...",NaN,05/11/2018,05/11/2023
8,25327,"Ground Floor Studio Flat, 110 Markhouse Road, ...",NaN,13/05/2019,13/05/2024
9,25335,"Ground Floor Rear Flat, 110 Markhouse Road, Wa...",NaN,18/04/2019,18/04/2024
10,25972,"24a Wood Street, Walthamstow, E17 3HT Mr Jasim...",NaN,22/02/2016,22/02/2021
11,25981,"24b Wood Street, Walthamstow, E17 3HT Mr Jasim...",NaN,22/02/2016,22/02/2021
12,26207,"Ground Floor Flat, 42 Gainsford Road, Walthams...",NaN,17/07/2017,17/07/2022
13,26211,"Flat 4, 33 Cleveland Park Avenue, Walthamstow,...",NaN,26/10/2018,26/10/2023
14,26244,"First Floor Flat, 28 Gainsford Road, Walthamst...",NaN,27/03/2018,27/03/2023
15,26274,"Ground Floor Flat, 28 Gainsford Road, Walthams...",NaN,13/09/2017,13/09/2022
16,26347,"Flat A, 642 Lea Bridge Road, Leyton, E10 6AP M...",NaN,24/12/2018,24/12/2023
17,26352,"642 Lea Bridge Road, Leyton, E10 6AP Mr Lahrie...",NaN,26/10/2018,26/10/2023

In [17]:
df[0]['Property Address Licence Holder'][0]

'43 Chester Road, Walthamstow, E17 7HP Mr Lahrie Mohamed'

In [18]:
df[0]['Property Address Licence Holder'][1]

'Flat 1, 8 Goldsmith Road, Leyton, E10 5HA Mr Lahrie Mohamed'

In [26]:
# spot check
df[0][df[0]['Ref.No.']==25327]

,Ref.No.,Property Address Licence Holder,Unnamed: 0,Start Date,End Date
8,25327,"Ground Floor Studio Flat, 110 Markhouse Road, ...",NaN,13/05/2019,13/05/2024

In [14]:
hmo_count = 0
for page in df:
    hmo_count += len(page)
print(hmo_count)

2257

In [15]:
# TODO concat all dfs

In [ ]:
# split the property address and licence holder name into two parts