In [ ]:
import pandas as pd

In [1]:
#TODO 1. Create a dictionary in this format:
{"A": "Alfa", "B": "Bravo"}

In [2]:
# read in data
nato_alph = pd.read_csv('./nato_phonetic_alphabet.csv')
nato_alph.head()

  letter     code
0      A     Alfa
1      B    Bravo
2      C  Charlie
3      D    Delta
4      E     Echo

In [9]:
# set what .itertuples returns
for letter, code in nato_alph.itertuples(index=False):
    print(letter, code)

A Alfa
B Bravo
C Charlie
D Delta
E Echo
F Foxtrot
G Golf
H Hotel
I India
J Juliet
K Kilo
L Lima
M Mike
N November
O Oscar
P Papa
Q Quebec
R Romeo
S Sierra
T Tango
U Uniform
V Victor
W Whiskey
X X-ray
Y Yankee
Z Zulu

In [11]:
nato_dict = {letter:code for letter, code in nato_alph.itertuples(index=False)}
nato_dict

{'A': 'Alfa',
 'B': 'Bravo',
 'C': 'Charlie',
 'D': 'Delta',
 'E': 'Echo',
 'F': 'Foxtrot',
 'G': 'Golf',
 'H': 'Hotel',
 'I': 'India',
 'J': 'Juliet',
 'K': 'Kilo',
 'L': 'Lima',
 'M': 'Mike',
 'N': 'November',
 'O': 'Oscar',
 'P': 'Papa',
 'Q': 'Quebec',
 'R': 'Romeo',
 'S': 'Sierra',
 'T': 'Tango',
 'U': 'Uniform',
 'V': 'Victor',
 'W': 'Whiskey',
 'X': 'X-ray',
 'Y': 'Yankee',
 'Z': 'Zulu'}

In [ ]:
#TODO 2. Create a list of the phonetic code words from a word that the user inputs.

In [20]:
user_input = input("Enter a word: \n")

Enter a word:
Jennifer

In [23]:
def get_nato_alph():
    text = [letter.upper() for letter in user_input]
    output = [nato_dict[letter] for letter in text]
    return output

In [24]:
get_nato_alph()

['Juliet', 'Echo', 'November', 'November', 'India', 'Foxtrot', 'Echo', 'Romeo']