In [1]:
from jinja2 import Template

In [7]:
sql = """
SELECT
    date_,
    {%- for event in events %}
    SUM(CASE WHEN event_type = '{{event}}' THEN 1 END) AS num_{{event}}
    {%- if not loop.last -%}
        , 
    {%- endif -%}
    {%- endfor %}
FROM raw_events
GROUP BY 1
ORDER BY 1 ASC
"""

print(Template(sql).render(events=['send', 'deliver', 'open', 'click']))

SELECT
    date_,
    SUM(CASE WHEN event_type = 'send' THEN 1 END) AS num_send,
    SUM(CASE WHEN event_type = 'deliver' THEN 1 END) AS num_deliver,
    SUM(CASE WHEN event_type = 'open' THEN 1 END) AS num_open,
    SUM(CASE WHEN event_type = 'click' THEN 1 END) AS num_click
FROM raw_events
GROUP BY 1
ORDER BY 1 ASC

In [8]:
sql = """
SELECT
    date_,
    {%- for b in business %}
    SUM(CASE WHEN business = '{{b}}' THEN 1 END) AS num_{{b}}
    {%- if not loop.last -%}
        , 
    {%- endif -%}
    {%- endfor %}
FROM businesses
GROUP BY 1
ORDER BY 1 ASC
"""

print(Template(sql).render(business=['amazon'
                                     , 'netflix'
                                     , 'facebook'
                                     , 'google'
                                     , 'spotify']))

SELECT
    date_,
    SUM(CASE WHEN business = 'amazon' THEN 1 END) AS num_amazon,
    SUM(CASE WHEN business = 'netflix' THEN 1 END) AS num_netflix,
    SUM(CASE WHEN business = 'facebook' THEN 1 END) AS num_facebook,
    SUM(CASE WHEN business = 'google' THEN 1 END) AS num_google,
    SUM(CASE WHEN business = 'spotify' THEN 1 END) AS num_spotify
FROM businesses
GROUP BY 1
ORDER BY 1 ASC