In [1]:
from api_token import token
import todoist as td
import pandas as pd
import datetime

In [2]:
# Get yesterday's date to feed into call
today = datetime.date.today()
yesterday = today - datetime.timedelta(days = 1)
yday_start = str(yesterday)+"T00:00:00Z"
yday_end = str(yesterday)+"T23:59:59Z"
print(yday_start)
print(yday_end)

2021-01-02T00:00:00Z
2021-01-02T23:59:59Z

In [4]:
api = td.TodoistAPI(token)
# Sync to API to get latest data
api.sync();

In [13]:
# this will convert from a individual todoist project objects to dictionary
projects = [project.data for project in api.state['projects']] 

# use dictionary to create data frame
df_projects = pd.DataFrame(projects)

# view data frame
df_projects.head(10)

,child_order,collapsed,color,has_more_notes,id,inbox_project,is_archived,is_deleted,is_favorite,name,parent_id,shared,sync_id
0,0,0,48,False,2240336392,True,0,0,0,Inbox,None,False,None
1,1,0,31,False,2240338076,NaN,0,0,0,‚ù∂ This Week,None,False,None
2,2,0,46,False,2250738735,NaN,0,0,0,‚ù∑ Next Week,None,False,None
3,3,0,33,False,2250738747,NaN,0,0,0,‚ù∏ This Month,None,False,None
4,4,0,34,False,2250738761,NaN,0,0,0,‚ùπ Next Month,None,False,None
5,5,0,47,False,2250741928,NaN,0,0,0,‚ù∫ Further Than Next Month,None,False,None
6,6,0,47,False,2250742579,NaN,0,0,0,üß† Project Ideas,None,False,None
7,7,0,31,False,2240553789,NaN,0,0,0,üöß Backlog üöß,None,False,None
8,8,0,30,False,2240717407,NaN,0,0,0,‚è± Routines,None,False,None
9,9,0,32,False,2240338162,NaN,0,0,0,ü•ì JET,None,False,None

In [12]:
# this will convert from a individual todoist project objects to dictionary
labels = [label.data for label in api.state['labels']] 

# use dictionary to create data frame
df_labels = pd.DataFrame(labels)

# view data frame
df_labels.head(20)

   color          id  is_deleted  is_favorite  item_order            name
0     47  2155605682           0            0           5      amazon-fba
1     31  2155605766           0            0           1         my-flat
2     41  2155605676           0            0           3        personal
3     44  2155605683           0            0           4  reign-property
4     42  2155605674           0            0           2    the-code-bae

In [14]:
# Create tasks database
tasks = [task.data for task in api.state['items']]
df_tasks = pd.DataFrame(tasks)
df_tasks.head()

,added_by_uid,assigned_by_uid,checked,child_order,collapsed,content,date_added,date_completed,day_order,due,...,in_history,is_deleted,labels,parent_id,priority,project_id,responsible_uid,section_id,sync_id,user_id
0,28966387,None,0,1,0,**00** Plan my week,2020-07-21T17:41:12Z,None,-1,"{'date': '2021-01-03', 'is_recurring': True, '...",...,0,0,[],NaN,4,2240338076,None,15085763.0,None,28966387
1,28966387,None,0,5,0,**:** Make new 12 week year goals,2020-07-21T20:59:19Z,None,-1,"{'date': '2021-03-01', 'is_recurring': False, ...",...,0,0,[2155605676],NaN,1,2250741928,None,NaN,None,28966387
2,28966387,None,0,2,0,Branding design and creation,2020-07-22T21:09:24Z,None,-1,None,...,0,0,[2155605674],NaN,1,2240553789,None,NaN,None,28966387
3,28966387,None,0,1,0,Open starling business account,2020-07-22T21:09:58Z,None,-1,None,...,0,0,[2155605674],NaN,1,2240553789,None,NaN,None,28966387
4,28966387,None,0,5,1,**RP04:** Create a new landing page for Reign ...,2020-07-22T21:22:36Z,None,-1,None,...,0,0,[],NaN,1,2240484947,None,NaN,None,28966387

In [16]:
# this doesn't work for recurring items 
df_tasks[(df_tasks['date_completed'] >= yday_start) & (df_tasks['date_completed'] <= yday_end)].head(10)

,added_by_uid,assigned_by_uid,checked,child_order,collapsed,content,date_added,date_completed,day_order,due,...,in_history,is_deleted,labels,parent_id,priority,project_id,responsible_uid,section_id,sync_id,user_id
299,28966387,None,1,1,0,**00a** Cook rice,2021-01-01T22:42:05Z,2021-01-02T13:21:20Z,-1,"{'date': '2021-01-02', 'is_recurring': False, ...",...,1,0,[],NaN,1,2240338076,None,NaN,None,28966387
300,28966387,None,1,1,0,Collect glasses from specsavers,2021-01-01T18:12:07Z,2021-01-02T13:22:33Z,-1,"{'date': '2021-01-02T10:00:00', 'is_recurring'...",...,1,0,[],NaN,1,2240338076,None,30384044.0,None,28966387
304,28966387,None,1,3,0,**06** Finish off 12 Week Year Template,2021-01-02T13:59:34Z,2021-01-02T22:25:29Z,-1,"{'date': '2021-01-02', 'is_recurring': False, ...",...,1,0,[],NaN,1,2240338076,None,NaN,None,28966387

In [19]:
df_tasks.columns

Index(['added_by_uid', 'assigned_by_uid', 'checked', 'child_order',
       'collapsed', 'content', 'date_added', 'date_completed', 'day_order',
       'due', 'has_more_notes', 'id', 'in_history', 'is_deleted', 'labels',
       'parent_id', 'priority', 'project_id', 'responsible_uid', 'section_id',
       'sync_id', 'user_id'],
      dtype='object')

In [25]:
yday_completed_tasks = pd.DataFrame(api.completed.get_all(since = yday_start, until = yday_end)['items'])

In [ ]:
# Order of columns ["task_content_description", "project_name", "completed_at"
# , "labels", "priority", "task_link_url", "due_date"]
# TODO to get task url you have to create it as follows https://todoist.com/showTask?id={task_id}
# add column with label names
# add column with project name
# add column with url link